<div class="login-container">
    <form>
    <section class="form-group">
      <label for="formGroupExampleInput">username </label>
      <i class="fa-solid fa-dog"></i>
      <input type="text" class="form-control" id="loginFormUsername" placeholder="fido">
    </section>
    <section class="form-group">
      <label for="formGroupExampleInput2">password</label>
      <input type="password" class="form-control" id="loginFormPassword" placeholder="enter password">
    </section>
    <button 
      {{on 'click' this.onLoginFormSubmit}} 
      class="btn btn-primary btn-lg btn-block button-primary" type="submit">Login
    </button>
  </form>
</div>