<style>
  .sign-up-container {
    text-align: center;
  }

  .sign-up-text-block {
    font-size: 1rem;
  }
</style>
<div class="login-container">
    <form>
      <label for="" class="loginFormHeader">Who's a good dog?</label>
      <i class="fa-solid fa-dog"></i>
    <section class="form-group">
      <input type="text" class="form-control" id="loginFormUsername" placeholder="username">
    </section>
    <section class="form-group">
      <div class="input-group">
          <input type="password" class="form-control password-login-input" placeholder="password" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button class="fa-solid fa-eye fa-2xs show-hide-icon" type="button"></button>
        </div>
      </div>
    </section>
    <button 
      {{on 'click' this.onLoginFormSubmit}}
      class="btn btn-primary btn-lg btn-block button-primary" id="login-submit-button" type="submit">Login
    </button>
    <section class="sign-up-container">
      <p class="sign-up-text-block">dont have an account? <a href="/sign-up">Sign Up</a></p>
    </section>
  </form>
</div>