{{page-title "User"}}

<style>
  .profile-container {
    background-color: var(--near-white);
  border: var(--royal-blue) solid 3px;
  border-radius: 2rem;
  color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    // border: darkblue solid 3px;
    margin: 15px;
    padding: 2rem;
  }

  .avatar-and-info {
    display: flex;
    flex-direction: row;
    // border: darkgreen solid 3px;
    justify-content: center;
    gap: 4rem;
  }

  .profile-page-avatar {
    // border: darksalmon solid 3px;
    height: 125px;
    width: 125px;
    max-width: 40vw;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    // border: darkviolet solid 3px;
    justify-content: space-between;
    width: 125px;
    max-width: 40vw;
  }

  .info-heading {
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }

  .info {
    // border: darkkhaki dashed 1px;
    align-self: center;
    width: 90px;
  }

  .bio-container {
    // border: darkgoldenrod solid 3px;
    height: auto;
    width: 253px;
    padding-top: 2rem;
    margin: auto;
  }

  .bio::before{
    content: "BIO: "
  }
</style>

<div class="profile-container">
  <section class="avatar-and-info">
    <div class="profile-page-avatar">
      <img src="https://res.cloudinary.com/sumesarpy/image/upload/w_125,ar_1:1,c_fill,g_auto,e_art:hokusai/v1647142025/fern_qajzoz.jpg" alt="fern dog">
    </div>
    <div class="info-container">
      <div class="info-heading">name:</div>
      <div class="info">fern</div>
      <div class="info-heading">breed:</div>
      <div class="info">mutt</div>
      <div class="info-heading">favorite toy:</div>
      <div class="info">real rabbits</div>
      <div class="info-heading">favorite treat:</div>
      <div class="info">bacon</div>
    </div>
  </section>
  <section class="bio-container">
    <p class="bio">doing stuff is my passion. everyday stuff needs done and I do it. Mountain Dew slushies are the best. I will murder every rabbit, squirrel and bird I can get my paws on</p>
  </section>
</div>

{{outlet}}